.cards {
    padding: 4rem;
    background: #3883a6;
  }

  .cards_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20;
    gap: 10px;
  }

  .ant-image-img {
    flex-basis: 20%;
    border: solid 2px #252e48;
    border-radius: 7px;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
  };
  